#Data cleansing

In [ ]:
# Libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Settings
pd.set_option('display.max_columns', None)
sns.set_style('whitegrid')
%matplotlib inline

In [ ]:
from google.colab import drive
drive.mount('/content/drive')
# Define the file path
file_path = '/content/drive/MyDrive/TEST_KBMC/TEST_Ad_table.csv'

# Load the CSV file
df = pd.read_csv('/content/drive/MyDrive/TEST_KBMC/TEST_Ad_table.csv')
df
# # Display the first few rows
# df.head()

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

,Maker,Genmodel,Genmodel_ID,Adv_ID,Adv_year,Adv_month,Color,Reg_year,Bodytype,Runned_Miles,Engin_size,Gearbox,Fuel_type,Price,Seat_num,Door_num
0,Bentley,Arnage,10_1,10_1$$1,2018,4,Silver,2000.0,Saloon,60000,6.8L,Automatic,Petrol,21500,5.0,4.0
1,Bentley,Arnage,10_1,10_1$$2,2018,6,Grey,2002.0,Saloon,44000,6.8L,Automatic,Petrol,28750,5.0,4.0
2,Bentley,Arnage,10_1,10_1$$3,2017,11,Blue,2002.0,Saloon,55000,6.8L,Automatic,Petrol,29999,5.0,4.0
3,Bentley,Arnage,10_1,10_1$$4,2018,4,Green,2003.0,Saloon,14000,6.8L,Automatic,Petrol,34948,5.0,4.0
4,Bentley,Arnage,10_1,10_1$$5,2017,11,Grey,2003.0,Saloon,61652,6.8L,Automatic,Petrol,26555,5.0,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
268250,Westfield,Sport,97_1,97_1$$1,2018,5,Yellow,2006.0,Convertible,1800,2.2L,Manual,Petrol,8750,2.0,NaN
268251,Westfield,Sport,97_1,97_1$$2,2018,5,Yellow,2006.0,Convertible,2009,NaN,Manual,NaN,7995,NaN,NaN
268252,Zenos,E10,99_1,99_1$$1,2018,3,Red,2016.0,Convertible,6,2.0L,Manual,Petrol,27950,2.0,NaN
268253,Zenos,E10,99_1,99_1$$2,2018,3,Green,2016.0,Convertible,1538,2.0L,Manual,Petrol,34950,2.0,NaN
268254,Zenos,E10,99_1,99_1$$3,2018,5,Grey,2016.0,Convertible,500,2.3L,Manual,Petrol,29995,2.0,NaN

In [ ]:
df.head()

,Maker,Genmodel,Genmodel_ID,Adv_ID,Adv_year,Adv_month,Color,Reg_year,Bodytype,Runned_Miles,Engin_size,Gearbox,Fuel_type,Price,Seat_num,Door_num
0,Bentley,Arnage,10_1,10_1$$1,2018,4,Silver,2000.0,Saloon,60000,6.8L,Automatic,Petrol,21500,5.0,4.0
1,Bentley,Arnage,10_1,10_1$$2,2018,6,Grey,2002.0,Saloon,44000,6.8L,Automatic,Petrol,28750,5.0,4.0
2,Bentley,Arnage,10_1,10_1$$3,2017,11,Blue,2002.0,Saloon,55000,6.8L,Automatic,Petrol,29999,5.0,4.0
3,Bentley,Arnage,10_1,10_1$$4,2018,4,Green,2003.0,Saloon,14000,6.8L,Automatic,Petrol,34948,5.0,4.0
4,Bentley,Arnage,10_1,10_1$$5,2017,11,Grey,2003.0,Saloon,61652,6.8L,Automatic,Petrol,26555,5.0,4.0

In [ ]:
df.info() #check the structure (columns, non-null values, data types)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 268255 entries, 0 to 268254
Data columns (total 16 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Maker         268255 non-null  object
 1   Genmodel      268255 non-null  object
 2   Genmodel_ID   268255 non-null  object
 3   Adv_ID        268255 non-null  object
 4   Adv_year      268255 non-null  int64
 5   Adv_month     268255 non-null  int64
 6   Color         246380 non-null  object
 7   Reg_year      268248 non-null  float64
 8   Bodytype      267301 non-null  object
 9   Runned_Miles  267200 non-null  object
 10  Engin_size    266191 non-null  object
 11  Gearbox       268088 non-null  object
 12  Fuel_type     267846 non-null  object
 13  Price         268255 non-null  object
 14  Seat_num      261781 non-null  float64
 15  Door_num      263702 non-null  float64
dtypes: float64(3), int64(2), object(11)
memory usage: 32.7+ MB

In [ ]:
# Bước 1: Đảm bảo cột Price đang là chuỗi (string)
df['Price'] = df['Price'].astype(str)

# Điều kiện: chứa ký tự chữ hoặc ký tự đặc biệt, không phải toàn số/chấm

invalid_prices = df[~df['Price'].str.match(r'^\d+(\.\d+)?$', na=False)]

# Bước 3: In ra những giá trị bất thường
print("📌 Các giá trị Price không thể chuyển sang số:")
print(invalid_prices['Price'].unique())

# Nếu muốn xem cả dòng
print("📌 Các dòng bị lỗi khi chuyển Price:")
print(invalid_prices[['Price']].head())
print(f"Số lượng giá trị không hợp lệ trong Price: {len(invalid_prices)}")

📌 Các giá trị Price không thể chuyển sang số:
['Uknown']
📌 Các dòng bị lỗi khi chuyển Price:
         Price
196134  Uknown
196135  Uknown
196136  Uknown
196137  Uknown
196138  Uknown
Số lượng giá trị không hợp lệ trong Price: 1145

In [ ]:
# Bước 1: Đảm bảo cột Price là chuỗi
df['Price'] = df['Price'].astype(str)

# Bước 2: Tạo mask để tìm các dòng không thể chuyển sang số
invalid_mask = ~df['Price'].str.match(r'^\d+(\.\d+)?$', na=False)

# Bước 3: Giữ lại dòng hợp lệ, nhưng giữ nguyên cột gốc
df_cleaned = df[~invalid_mask].copy()

# Bước 4: Tạo cột mới: Price_vnd = Price đã chuyển sang số * 26,000
df_cleaned['Price_vnd'] = pd.to_numeric(df_cleaned['Price']) * 26000

In [ ]:
df_cleaned.isnull().sum()

Maker               0
Genmodel            0
Genmodel_ID         0
Adv_ID              0
Adv_year            0
Adv_month           0
Color           21867
Reg_year            0
Bodytype          943
Runned_Miles     1045
Engin_size       2046
Gearbox           155
Fuel_type         399
Price               0
Seat_num         6443
Door_num         4489
Price_vnd           0
dtype: int64

In [ ]:
df_cleaned = df_cleaned.drop_duplicates()

In [ ]:
def check_invalid(col, reg=r'^[0-9]+$', replace_reg=r'[0-9]'):
    # Ép kiểu chuỗi để tránh lỗi .str
    col = col.astype(str)

    invalid_row = col[~col.str.match(reg)]
    invalid_count = invalid_row.count()

    invalid = col.str.replace(replace_reg, '', regex=True).unique()

    return invalid, invalid_count

In [ ]:
df_cleaned.dropna(subset=['Reg_year'], inplace=True)

In [ ]:
df_cleaned.isnull().sum()

Maker               0
Genmodel            0
Genmodel_ID         0
Adv_ID              0
Adv_year            0
Adv_month           0
Color           21867
Reg_year            0
Bodytype          943
Runned_Miles     1045
Engin_size       2046
Gearbox           155
Fuel_type         399
Price               0
Seat_num         6443
Door_num         4489
Price_vnd           0
dtype: int64

In [ ]:
cols = ['Color','Bodytype', 'Gearbox', 'Fuel_type']
df = df_cleaned.dropna(subset=cols)
df.isnull().sum()

Maker              0
Genmodel           0
Genmodel_ID        0
Adv_ID             0
Adv_year           0
Adv_month          0
Color              0
Reg_year           0
Bodytype           0
Runned_Miles     853
Engin_size      1800
Gearbox            0
Fuel_type          0
Price              0
Seat_num        5066
Door_num        3244
Price_vnd          0
dtype: int64

In [ ]:
df = df[~df['Genmodel'].str.contains(r'\d{2,4}[-/]\d{1,2}[-/]\d{1,4}', na=False)].copy()

In [ ]:
# # Bước 2: Chọn các cột cần kiểm tra outlier
# cols_to_check = ['Runned_Miles', 'Engin_size']

# # Bước 3: Vẽ biểu đồ boxplot
# plt.figure(figsize=(12, 5))

# for i, col in enumerate(cols_to_check, 1):
#     plt.subplot(1, 2, i)
#     sns.boxplot(y=df[col], color='skyblue')
#     plt.title(f'Boxplot: {col}')

# plt.tight_layout()
# plt.show()

In [ ]:
df['Engin_size'] = df['Engin_size'].astype(str)

invalid_runned = df[~df['Engin_size'].str.match(r'^\d+(\.\d+)?$', na=False)]

print("❌ Các giá trị không hợp lệ trong Engin_size:")
print(invalid_runned['Engin_size'].unique())
print(f"Số lượng giá trị không hợp lệ trong Price: {len(invalid_runned)}")

❌ Các giá trị không hợp lệ trong Engin_size:
['6.8L' '6.7L' '4.4L' '6.0L' '4.0L' 'nan' '1.5L' '3.0L' '6.75L' '8.0L'
 '1.9L' '2.8L' '6.2L' '3.6L' '1.8L' '1.6L' '1.4L' '1.2L' '1.0L' '0.8L'
 '2.0L' '5.3L' '1.7L' '4.3L' '3.8L' '2.2L' '2.4L' '7.0L' '5.7L' '0.9L'
 '1.3L' '3.5L' '6.1L' '3.2L' '3.3L' '2.5L' '2.7L' '1.1L' '0.66L' '6.4L'
 '3.7L' '5.9L' '2.9L' '5.5L' '6.5L' '3.9L' '4.2L' '6.3L' '4.5L' '5.8L'
 '1.25L' '2.3L' '5.4L' '5.0L' '4.7L' '4.6L' '2.1L' '3.1L' '0.1L' '4.8L'
 '5.2L' '2.6L' '4.9L' '0.3L' '2998.0L' '6.6L' '3500.0L' '3.4L' '0.6L'
 '0.7L' '10.0L' '1.33L']
Số lượng giá trị không hợp lệ trong Price: 243971

In [ ]:
df['Engin_size'] = df['Engin_size'].str.replace('L', '', regex=False)
df['Engin_size'] = pd.to_numeric(df['Engin_size'], errors='coerce')  # Nếu có lỗi sẽ ra NaN

In [ ]:
df['Engin_size'] = df.groupby('Genmodel')['Engin_size'].transform(lambda x: x.fillna(x.median()))
df.isnull().sum()

Maker              0
Genmodel           0
Genmodel_ID        0
Adv_ID             0
Adv_year           0
Adv_month          0
Color              0
Reg_year           0
Bodytype           0
Runned_Miles     853
Engin_size       314
Gearbox            0
Fuel_type          0
Price              0
Seat_num        5066
Door_num        3244
Price_vnd          0
dtype: int64

In [ ]:
df['Runned_Miles'] = df['Runned_Miles'].astype(str)

invalid_runned = df[~df['Runned_Miles'].str.match(r'^\d+(\.\d+)?$', na=False)]

print("❌ Các giá trị không hợp lệ trong Engin_size:")
print(invalid_runned['Runned_Miles'].unique())
print(f"Số lượng giá trị không hợp lệ trong Price: {len(invalid_runned)}")

❌ Các giá trị không hợp lệ trong Engin_size:
['nan' '1 mile']
Số lượng giá trị không hợp lệ trong Price: 1089

In [ ]:
df['Runned_Miles'] = pd.to_numeric(df['Runned_Miles'], errors='coerce')
df['Runned_Miles'].fillna(df['Runned_Miles'].median(), inplace=True)
df.isnull().sum()

Maker              0
Genmodel           0
Genmodel_ID        0
Adv_ID             0
Adv_year           0
Adv_month          0
Color              0
Reg_year           0
Bodytype           0
Runned_Miles       0
Engin_size       314
Gearbox            0
Fuel_type          0
Price              0
Seat_num        5066
Door_num        3244
Price_vnd          0
dtype: int64

In [ ]:
for col in ['Seat_num', 'Door_num']:
    mode_val = df[col].mode()[0]         # lấy mode đầu tiên
    df[col].fillna(mode_val, inplace=True)

In [ ]:
df = df[~df['Engin_size'].isnull()].copy()
df.isnull().sum()

Maker           0
Genmodel        0
Genmodel_ID     0
Adv_ID          0
Adv_year        0
Adv_month       0
Color           0
Reg_year        0
Bodytype        0
Runned_Miles    0
Engin_size      0
Gearbox         0
Fuel_type       0
Price           0
Seat_num        0
Door_num        0
Price_vnd       0
dtype: int64

In [ ]:
df['Price'] = pd.to_numeric(df['Price'], errors='coerce')

In [ ]:
df.nunique()

Maker               78
Genmodel           853
Genmodel_ID        838
Adv_ID          243657
Adv_year            10
Adv_month           15
Color               22
Reg_year            26
Bodytype            17
Runned_Miles     69292
Engin_size          73
Gearbox              3
Fuel_type           13
Price            19446
Seat_num            10
Door_num             6
Price_vnd        19446
dtype: int64

In [ ]:
df['Maker'].value_counts().head(10)

Maker
Ford          23497
Audi          20415
Vauxhall      18601
Volkswagen    15943
BMW           14311
Nissan        12329
Peugeot       10045
Land Rover     9550
Citroen        9111
Toyota         9020
Name: count, dtype: int64

In [ ]:
df.describe()

,Adv_year,Adv_month,Reg_year,Runned_Miles,Engin_size,Price,Seat_num,Door_num,Price_vnd
count,243657.000000,243657.000000,243657.000000,2.436570e+05,243657.000000,2.436570e+05,243657.000000,243657.000000,2.436570e+05
mean,2018.146538,5.708237,2012.697189,4.843958e+04,1.949566,1.452892e+04,4.902047,4.376533,3.777519e+08
std,0.774770,2.076575,4.490997,4.198216e+04,9.363644,3.062011e+04,0.870217,1.005627,7.961229e+08
min,2012.000000,1.000000,1900.000000,0.000000e+00,0.100000,1.000000e+02,1.000000,2.000000,2.600000e+06
25%,2018.000000,4.000000,2010.000000,1.449600e+04,1.400000,4.950000e+03,5.000000,4.000000,1.287000e+08
50%,2018.000000,5.000000,2014.000000,3.972250e+04,1.800000,9.220000e+03,5.000000,5.000000,2.397200e+08
75%,2018.000000,7.000000,2016.000000,7.500000e+04,2.000000,1.700000e+04,5.000000,5.000000,4.420000e+08
max,2021.000000,33.000000,2019.000000,6.363342e+06,3500.000000,9.999999e+06,17.000000,7.000000,2.600000e+11

In [ ]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
Index: 243657 entries, 0 to 268254
Data columns (total 17 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Maker         243657 non-null  object
 1   Genmodel      243657 non-null  object
 2   Genmodel_ID   243657 non-null  object
 3   Adv_ID        243657 non-null  object
 4   Adv_year      243657 non-null  int64
 5   Adv_month     243657 non-null  int64
 6   Color         243657 non-null  object
 7   Reg_year      243657 non-null  float64
 8   Bodytype      243657 non-null  object
 9   Runned_Miles  243657 non-null  float64
 10  Engin_size    243657 non-null  float64
 11  Gearbox       243657 non-null  object
 12  Fuel_type     243657 non-null  object
 13  Price         243657 non-null  int64
 14  Seat_num      243657 non-null  float64
 15  Door_num      243657 non-null  float64
 16  Price_vnd     243657 non-null  int64
dtypes: float64(5), int64(4), object(8)
memory usage: 33.5+ MB
None

In [ ]:
df.shape

(243657, 17)

#Unusual case

In [ ]:
# Seat vs Door không hợp lý
print("🚨 Seat_num = 2 mà Door_num >= 4:")
print(df[(df['Seat_num'] == 2) & (df['Door_num'] >= 4)])

🚨 Seat_num = 2 mà Door_num >= 4:
             Maker    Genmodel Genmodel_ID     Adv_ID  Adv_year  Adv_month  \
1109       Bugatti      Veyron        13_1    13_1$$3      2018          5
1588     Chevrolet         Ssr       16_15   16_15$$1      2018          4
1795     Chevrolet    Corvette        16_6    16_6$$1      2018          4
1796     Chevrolet    Corvette        16_6    16_6$$2      2017         11
1801     Chevrolet    Corvette        16_6    16_6$$7      2018          3
...            ...         ...         ...        ...       ...        ...
260142  Volkswagen  Caddy Maxi        95_7  95_7$$274      2018          4
268250   Westfield       Sport        97_1    97_1$$1      2018          5
268252       Zenos         E10        99_1    99_1$$1      2018          3
268253       Zenos         E10        99_1    99_1$$2      2018          3
268254       Zenos         E10        99_1    99_1$$3      2018          5

         Color  Reg_year     Bodytype  Runned_Miles  Engin_size    Gearbox  \
1109     Black    2007.0        Coupe         828.0         8.0  Automatic
1588     Black    2005.0  Convertible       31000.0         6.0  Automatic
1795    Orange    2015.0        Coupe        6600.0         7.0     Manual
1796     Green    1995.0  Convertible       38953.0         5.7  Automatic
1801    Yellow    2015.0        Coupe        2579.0         6.2  Automatic
...        ...       ...          ...           ...         ...        ...
260142    Blue    2012.0    Panel Van       96000.0         1.6     Manual
268250  Yellow    2006.0  Convertible        1800.0         2.2     Manual
268252     Red    2016.0  Convertible           6.0         2.0     Manual
268253   Green    2016.0  Convertible        1538.0         2.0     Manual
268254    Grey    2016.0  Convertible         500.0         2.3     Manual

       Fuel_type    Price  Seat_num  Door_num    Price_vnd
1109      Petrol  1650000       2.0       5.0  42900000000
1588      Petrol    22950       2.0       5.0    596700000
1795      Petrol    99995       2.0       5.0   2599870000
1796      Petrol    16940       2.0       5.0    440440000
1801      Petrol    53950       2.0       5.0   1402700000
...          ...      ...       ...       ...          ...
260142    Diesel     6600       2.0       5.0    171600000
268250    Petrol     8750       2.0       5.0    227500000
268252    Petrol    27950       2.0       5.0    726700000
268253    Petrol    34950       2.0       5.0    908700000
268254    Petrol    29995       2.0       5.0    779870000

[540 rows x 17 columns]

In [ ]:
invalid_seat_door = (df['Seat_num'] == 2) & (df['Door_num'] >= 4)

df = df[~invalid_seat_door].copy()

In [ ]:
# Xe đăng ký sau khi rao bán - vì là xe cũ nên không hợp lý
print("🚨 Năm đăng ký lớn hơn năm rao bán:")
print(df[df['Reg_year'] > df['Adv_year']])

🚨 Năm đăng ký lớn hơn năm rao bán:
             Maker           Genmodel Genmodel_ID      Adv_ID  Adv_year  \
50         Bentley           Bentayga        10_3    10_3$$20      2017
51         Bentley           Bentayga        10_3    10_3$$21      2017
74         Bentley           Bentayga        10_3    10_3$$44      2017
106        Bentley           Bentayga        10_3    10_3$$76      2017
127        Bentley           Bentayga        10_3    10_3$$97      2017
...            ...                ...         ...         ...       ...
229545    Vauxhall               Viva       94_23  94_23$$571      2017
242396  Volkswagen             Amarok        95_1    95_1$$99      2017
242404  Volkswagen             Amarok        95_1   95_1$$107      2017
260964       Volvo                V60       96_10  96_10$$618      2017
267259       Volvo  V40 Cross Country        96_8   96_8$$234      2017

        Adv_month   Color  Reg_year   Bodytype  Runned_Miles  Engin_size  \
50             10   Black    2018.0        SUV          40.0         6.0
51             12  Silver    2018.0        SUV          80.0         4.0
74              8   Black    2018.0        SUV         100.0         4.0
106             8   Black    2018.0        SUV         100.0         6.0
127             9   White    2018.0        SUV         100.0         6.0
...           ...     ...       ...        ...           ...         ...
229545         11  Silver    2018.0  Hatchback          10.0         1.0
242396          7   Black    2018.0     Pickup       39722.5         3.0
242404          7    Grey    2018.0     Pickup          10.0         3.0
260964          9   Black    2018.0     Estate       12000.0         2.4
267259         10   Black    2018.0  Hatchback        7000.0         2.0

          Gearbox                Fuel_type   Price  Seat_num  Door_num  \
50      Automatic                   Petrol  239950       5.0       5.0
51      Automatic                   Diesel  209950       5.0       5.0
74      Automatic                   Diesel  209950       5.0       5.0
106     Automatic                   Petrol  229950       5.0       5.0
127     Automatic                   Petrol  229950       5.0       5.0
...           ...                      ...     ...       ...       ...
229545     Manual                   Petrol   10290       5.0       5.0
242396  Automatic                   Diesel   47992       5.0       5.0
242404  Automatic                   Diesel   47998       5.0       5.0
260964  Automatic  Hybrid  Diesel/Electric   38000       5.0       5.0
267259  Automatic                   Diesel   18250       5.0       5.0

         Price_vnd
50      6238700000
51      5458700000
74      5458700000
106     5978700000
127     5978700000
...            ...
229545   267540000
242396  1247792000
242404  1247948000
260964   988000000
267259   474500000

[132 rows x 17 columns]

In [ ]:
invalid_reg_adv = df['Reg_year'] > df['Adv_year']

df = df[~invalid_reg_adv].copy()

In [ ]:
df.shape

(242985, 17)

In [ ]:
df.to_csv('car.csv', index=False)
df

,Maker,Genmodel,Genmodel_ID,Adv_ID,Adv_year,Adv_month,Color,Reg_year,Bodytype,Runned_Miles,Engin_size,Gearbox,Fuel_type,Price,Seat_num,Door_num,Price_vnd
0,Bentley,Arnage,10_1,10_1$$1,2018,4,Silver,2000.0,Saloon,60000.0,6.8,Automatic,Petrol,21500,5.0,4.0,559000000
1,Bentley,Arnage,10_1,10_1$$2,2018,6,Grey,2002.0,Saloon,44000.0,6.8,Automatic,Petrol,28750,5.0,4.0,747500000
2,Bentley,Arnage,10_1,10_1$$3,2017,11,Blue,2002.0,Saloon,55000.0,6.8,Automatic,Petrol,29999,5.0,4.0,779974000
3,Bentley,Arnage,10_1,10_1$$4,2018,4,Green,2003.0,Saloon,14000.0,6.8,Automatic,Petrol,34948,5.0,4.0,908648000
4,Bentley,Arnage,10_1,10_1$$5,2017,11,Grey,2003.0,Saloon,61652.0,6.8,Automatic,Petrol,26555,5.0,4.0,690430000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
268245,Volvo,V50,96_9,96_9$$522,2018,7,Grey,2008.0,Estate,140000.0,2.0,Manual,Diesel,3185,5.0,5.0,82810000
268246,Volvo,V50,96_9,96_9$$523,2018,8,Blue,2007.0,Estate,158000.0,2.4,Automatic,Diesel,2990,5.0,5.0,77740000
268247,Volvo,V50,96_9,96_9$$524,2018,5,Silver,2009.0,Estate,94000.0,2.4,Automatic,Diesel,4250,5.0,5.0,110500000
268248,Volvo,V50,96_9,96_9$$525,2018,5,Silver,2004.0,Estate,111000.0,2.4,Automatic,Petrol,2895,5.0,5.0,75270000
268249,Volvo,V50,96_9,96_9$$526,2018,1,Blue,2009.0,Estate,107000.0,2.0,Manual,Diesel,3684,5.0,5.0,95784000

In [ ]:
from google.colab import files
files.download('car.csv')